PORT=3000
TOPOLOGY_FILE=
PROBES_ENABLED=false
PROBE_TIMEOUT_MS=2500
CLUSTER_EXPLORER_ENABLED=true
KUBERNETES_API_URL=
KUBERNETES_TOKEN=
KUBERNETES_TOKEN_PATH=
KUBERNETES_CA_PATH=
GRAFANA_URL=http://rancher-monitoring-grafana.cattle-monitoring-system.svc
PROMETHEUS_URL=http://rancher-monitoring-prometheus.cattle-monitoring-system.svc:9090
FRAME_ANCESTORS='self' https://spiders.assessorly.com https://spiders-staging.assessorly.com https://local.assessorly.com
