PORT=3000
TOPOLOGY_FILE=
PROBES_ENABLED=false
PROBE_TIMEOUT_MS=2500
SWITCH_HOST=192.168.1.193
SWITCH_LABEL=HP ProCurve 2810-24G
SNMP_COMMUNITY=
ALLOW_SWITCH_WRITE_COMMANDS=false
CLUSTER_EXPLORER_ENABLED=true
KUBERNETES_API_URL=
KUBERNETES_TOKEN=
KUBERNETES_TOKEN_PATH=
KUBERNETES_CA_PATH=
GRAFANA_URL=http://rancher-monitoring-grafana.cattle-monitoring-system.svc
PROMETHEUS_URL=http://rancher-monitoring-prometheus.cattle-monitoring-system.svc:9090
FRAME_ANCESTORS='self' https://spiders.assessorly.com https://spiders-staging.assessorly.com https://local.assessorly.com
